@model core_web_app.Models.StockData

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>StockData</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StockName" class="control-label"></label>
                <input asp-for="StockName" class="form-control" />
                <span asp-validation-for="StockName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PClose" class="control-label"></label>
                <input asp-for="PClose" class="form-control" />
                <span asp-validation-for="PClose" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LTP" class="control-label"></label>
                <input asp-for="LTP" class="form-control" />
                <span asp-validation-for="LTP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Group" class="control-label"></label>
                @*<select asp-for="Group" class="form-control"></select>*@
                <select asp-for="Group" asp-items="Html.GetEnumSelectList<Group>()" class="form-control">
                    <option value=""></option>
                </select>
                <span asp-validation-for="Group" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChartUrl" class="control-label"></label>
                <input asp-for="ChartUrl" class="form-control" />
                <span asp-validation-for="ChartUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
